<header class="header">
  <div class="hero-animation"></div>
  <div class="header-container container">
    <nav class="header-navigation">
      <!-- ----- DROPDOWN MENU ----- -->

      <div class="menu-item">
        <button type="button" class="dropdown">Menu</button>
        <ul class="dropdown-content">
          <li class="dropdown-link">
            <a href="#about-me">About me</a>
          </li>
          <li class="dropdown-link">
            <a href="#projects">Projects</a>
          </li>
        </ul>
      </div>

      <!-- ------------------------- -->
    </nav>

    <button class="mobile-menu-open-btn" type="button">
      <svg
        class="mobile-menu-open-btn-icon"
        width="28"
        height="28"
        aria-label="mobile menu open icon"
      >
        <use href="./img/svg/symbol-defs.svg#icon-burger"></use>
      </svg>
    </button>

    <a class="header-link order-link" href="#work-together"
      >Contact me</a
    >
  </div>

  <div class="mobile-menu-wrapper">
    <div class="container mobile-menu-container">
      <button class="mobile-menu-close-btn" type="button">
        <svg
          class="modal-close-button-icon"
          width="28"
          height="28"
          aria-label="close mobile icon"
        >
          <use href="./img/svg/symbol-defs.svg#icon-cross"></use>
        </svg>
      </button>
      <ul class="work-together-contacts-list mobile-menu">
        <li class="work-together-contacts-list-link">
          <a class="mobile-menu-link contacts-link" href="#about-me">
            <img class="contacts-icon" src="../img/footer/person.png" alt="person">
            <span>About me</span></a
          >
        </li>
        <li class="work-together-contacts-list-link">
          <a class="mobile-menu-link contacts-link" href="#projects">
           
            <img class="contacts-icon" src="../img/project-section/github.png" alt="projects">
            <span>Projects</span>
          </a>
        </li>
        <li class="work-together-contacts-list-link">
          <a class="contacts-link" href="mailto:antonbugaichuk@gmail.com"  target="_blank"
            >
            <img class="contacts-icon" src="../img/footer/mail.png" alt="mail" target="_blank">
            <span>antonbugaichuk@gmail.com</span>
          </a
          >
        </li>
        <li class="work-together-contacts-list-link">
          
          <a class="contacts-link" href="https://www.linkedin.com/in/anton-buhaichuk/" target="_blank"
            >
            <img class="contacts-icon" src="../img/footer/linkedin.png" alt="linkedin">
            <span>Anton Buhaichuk</span>
          </a
          >
        </li>
        <li class="work-together-contacts-list-link">
          
          <a class="contacts-link" href="https://www.facebook.com/AntonBugaichuk" target="_blank"
            >
            <img class="contacts-icon" src="../img/footer/facebook.png" alt="linkedin">
            <span>Anton Buhaichuk</span>
          </a
          >
        </li>
      </ul>
    </div>
  </div>
</header>
