<section id="projects" class="project-section section">
  <div class="container">
    <h2 class="project-section-header title transparent title">Projects</h2>
    <!-- ======================================== -->
    <div class="swiper projects-swiper">
      <div class="swiper-wrapper projects-swiper-wrapper">
        <div class="swiper-slide">
          <div class="projects-swiper-slide">
            <div class="project-section-light-part">
              <div class="project-section-dark-part">
              <img class="project-section-img" src="./img/project-section/img_desc_1.png" alt="first project first screen"></li>
            </div>
              <div class="light-part-wrap">
                <h3 class="project-section-title secondary-title">
                  Portfolio (training project)
                </h3>
              </div>
              <ul class="project-section-skills-list list">
                <li class="project-section-list-skills-item">A training project in GoIT school for practicing HTML, CSS, JS and REST API skills in team. This a web-portfolio of a fullstack developer.</li>
                <li><span class="projects-section-bold">Role:</span> developer. I implemented all the HTML/CSS and JS for one section according to the markup,
                  succesfully integrated JS Accordion library and wrote JS for a POST request to server.
                  </li>
                <li><span class="projects-section-bold">The stack:</span> HTML, CSS, JS.</li>
              </ul>
              <div class="project-ref-container">
              <a
                  href="https://github.com/Yelyzaveta2004/project-group-17"
                  class="see-project-ref"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="See project link"
                  >
                  <img class="project-ref-pic" src="./img/project-section/github.png" alt="github">

                  <span>Check on GitHub</span>
                  </a>
                  <a
                  href="https://yelyzaveta2004.github.io/project-group-17/"
                  class="see-project-ref"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="See project link"
                  >
                  <img class="project-ref-pic" src="./img/project-section/webpage.png" alt="webpage">
                  <span>Check the page</span>
                  </a>
                </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="projects-swiper-slide">
            <div class="project-section-light-part">
              <div class="project-section-dark-part">
                <img class="project-section-img" src="./img/project-section/img_desc_2.jpg" alt="second project">
              </div>
              <div class="light-part-wrap">
                <h3 class="project-section-title secondary-title">
                  YeachtJet (training project)
                </h3>
              </div>
              <ul class="project-section-skills-list list">
                <li class="project-section-list-skills-item">A training project in GoIT school for practicing HTML, CSS and basik JS skills in team.</li>
                <li><span class="projects-section-bold">Role:</span> developer. I created the list of yachtcards, made CSS-animations and JS for mobile menu opening.
                  </li>
                <li><span class="projects-section-bold">The stack:</span> HTML, CSS, JS.</li>
              </ul>
              <div class="project-ref-container">
              <a
                  href="https://github.com/Yelyzaveta2004/project-group-17"
                  class="see-project-ref"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="See project link"
                  >
                  <img class="project-ref-pic" src="./img/project-section/github.png" alt="github">

                  <span>Check on GitHub</span>
                  </a>
                  <a
                  href="https://yelyzaveta2004.github.io/project-group-17/"
                  class="see-project-ref"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="See project link"
                  >
                  <img class="project-ref-pic" src="./img/project-section/webpage.png" alt="webpage">
                  <span>Check the page</span>
                  </a>
                </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="projects-swiper-slide">
            <div class="project-section-light-part">
              <div class="project-section-dark-part">
                <img class="project-section-img" src="./img/project-section/img_desc_3.png" alt="second project">
              </div>
              <div class="light-part-wrap">
                <h3 class="project-section-title secondary-title">
                  Phone book (personal project)
                </h3>
              </div>
              <ul class="project-section-skills-list list">
                <li class="project-section-list-skills-item">A custom web-phone book with user login/logout implementation and personal list of contact for every user.
                </li>
                <li><span class="projects-section-bold">The stack:</span> HTML/CSS, JS and React/Redux</li>
              </ul>
              <div class="project-ref-container">
              <a
                  href="https://github.com/anton81951/phone-book-training"
                  class="see-project-ref"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="See project link"
                  >
                  <img class="project-ref-pic" src="./img/project-section/github.png" alt="github">
                  <span>Check on GitHub</span>

                  </a>
                  <a
                  href="https://goit-react-hw-08-five-eta.vercel.app/"
                  class="see-project-ref"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="See project link"
                  >
                  <img class="project-ref-pic" src="./img/project-section/webpage.png" alt="webpage">
                  <span>Check the page</span>
                  </a>
                </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="projects-swiper-slide">
            <div class="project-section-light-part">
              <div class="project-section-dark-part">
                <img class="project-section-img" src="./img/project-section/img_desc_4.png" alt="second project">
              </div>
              <div class="light-part-wrap">
                <h3 class="project-section-title secondary-title">
                  Image search
                </h3>
              </div>
              <ul class="project-section-skills-list list">
                <li class="project-section-list-skills-item">A personal project - image search app with unsplash.com API.
                </li>
                <li><span class="projects-section-bold">The stack:</span> HTML/CSS, TS, React</li>
              </ul>
              <div class="project-ref-container">
              <a
                  href="https://github.com/anton81951/Image-Search"
                  class="see-project-ref"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="See project link"
                  >
                  <img class="project-ref-pic" src="./img/project-section/github.png" alt="github">
                  <span>Check on GitHub</span>

                  </a>
                  <a
                  href="https://goit-typescript-hw-02-gules.vercel.app/"
                  class="see-project-ref"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="See project link"
                  >
                  <img class="project-ref-pic" src="./img/project-section/webpage.png" alt="webpage">
                  <span>Check the page</span>
                  </a>
                </div>
            </div>
          </div>
        </div>
      </div>

      <!-- navigation buttons -->
      <div class="arrows-container">
        <button
          class="project-section-btn project-btn-prev"
          type="button"
          aria-label="Button left"
        >
          <svg class="project-section-svg" aria-label="swipe left icon">
            <use href="./img/svg/symbol-defs.svg#icon-arrow-narrow-left"></use>
          </svg>
        </button>
        <button
          class="project-section-btn project-btn-next"
          type="button"
          aria-label="Button left"
        >
          <svg class="project-section-svg" aria-label="swipe right icon">
            <use href="./img/svg/symbol-defs.svg#icon-arrow-narrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
