<footer class="work-together-footer section">
  <!-- ======== WORK-TOGETHER ======== -->
  <div class="work-together-container container" id="work-together">
    <h2 class="work-together-title">
      <span>I'm open to your offers and various cooperation</span>
      <span class="work-together-title-span"> Write an email or text me in social media</span>
    </h2>
    <address class="work-together-contacts">
      <ul class="work-together-contacts-list">
        <li class="work-together-contacts-list-link">
          <a class="contacts-link" href="mailto:antonbugaichuk@gmail.com"
            >
            <img class="contacts-icon" src="./img/footer/mail.png" alt="mail" target="_blank">
            <span>antonbugaichuk@gmail.com</span>
          </a
          >
        </li>
        <li class="work-together-contacts-list-link">
          
          <a class="contacts-link" href="https://www.linkedin.com/in/anton-buhaichuk/" target="_blank"
            >
            <img class="contacts-icon" src="./img/footer/linkedin.png" alt="linkedin">
            <span>Anton Buhaichuk</span>
          </a
          >
        </li>
        <li class="work-together-contacts-list-link">
          
          <a class="contacts-link" href="https://www.facebook.com/AntonBugaichuk" target="_blank"
            >
            <img class="contacts-icon" src="./img/footer/facebook.png" alt="linkedin">
            <span>Anton Buhaichuk</span>
          </a
          >
        </li>
      </ul>
    </address>
  </div>
</footer>
